@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$background: #FFF;
$background_secondary: #3C887E;
$highlight_grey: #BEB7DF;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: $background;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background: $background_secondary;
  font-weight: bold;

  ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      a {
        display: inline-block;
        padding-left: 1rem;
        padding-right: 1rem;
        line-height: 3rem;

        text-decoration: none;
        color: black;
      }

      &:hover,
      &.active {
        background: $highlight_grey;
      }

      &.auth {
        margin-left: auto;
      }
    }
  }
}

main {
  width: 100%;
  padding: 2rem;
  padding-top: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  form.login {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 20vw;

    input {
      padding: .5rem;
      margin: .5rem;
    }
  }

  .wishlist {
    width: 25%;

    .item {
      margin: .5rem;
      display: flex;
      flex-direction: column;
      background-color: #CCC;
      padding: .5rem;
      border-radius: .5rem;

      .name {
        font-size: 1.5rem;
      }

      a {
        color: $background_secondary;
      }

      .url {
        font-size: .75rem;
      }
    }
  }

  @media only screen and (max-width: 1500px) {
    .wishlist {
      width: 40%;
    }
  }

  @media only screen and (max-width: 900px) {
    .wishlist {
      width: 60%;
    }
  }

  @media only screen and (max-width: 650px) {
    .wishlist {
      width: 100%;
    }
  }
}
